<section data-ng-controller="userController" class="row">
  <div class="col-sm-8">
    <h3>Create New User</h3>

  <form name="signupform">
    <div class="form-group">
      <label class="control-label" for="name">Full Name</label>
      <input class= "form-control" id="name" type="text" required data-ng-model="newUser.full_name">
    </div>

    <div class="form-group">
      <label class="control-label" for="email">Email</label>
      <input class= "form-control" id="email" type="text" required data-ng-model="newUser.username">  
    </div>

    <div class="form-group">
      <label class="control-label" for="password">Password</label>
      <input class= "form-control" id="password" type="password" required data-ng-model="newUser.password">  
    </div>

    <div class="form-group">
      <input type="checkbox" name="is_org_flag" value="true" data-ng-model="newUser.is_org_flag"> Is an Organization  
    </div>

    <div class="form-group">
      <label class="control-label" for="orgName">Organization Name</label>
      <input class= "form-control" id="org_name" type="text" data-ng-model="newUser.org_name">  
    </div>
    
    <div class="form-group">
      <button class="btn btn-default"  data-ng-click="create_new_user(newUser)">Create User</button>  
    </div>
    
  </form>
  </div>
  
</section>